#root {
  background: #222;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  width: 1058px;
  margin: 0 auto;
  margin-top: 50px;
}
