@font-face {
  font-family: "malFont";
  src: url("agrevuecyr.ttf");
}

.jumbo-title {
  font-family: "malFont";
  font-size: 30px;
}

.jumbo-small {
  font-size: 25px !important;
}

.jumbotron {
  text-shadow: 1px 1px #000;
  background-color: #337ab7;
  color: #FFF;
  border-radius: 5px;
  margin-top: 50px;
}