.input-text {
    color: rgb(56, 95, 224);
}

.search-button {
    background-color: #00c853;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px #000;
}

.friend-button {
    margin-left: 5px;
}

.friend-name {
    float: left;
    position: relative;
    top: 5px;
}