.page-footer{
    background-color:rgb(52, 109, 207);
    position: relative;
    bottom: 0;
    width: 100%;
}


#col3{
}
#col2{
   
    float:right;
}

#icons{
    margin-right:150px;
}
.nav-item{
    float:right;
}
h5{
    font-weight: bold;
    color:rgba(60, 60, 60, 0.607);
}
#nameRight{
    float:right;
}
p{
    margin-right: 50px;
}

