.page-footer{
    text-shadow: 1px 1px #000;
    top:500px;
    background-color:rgb(52, 109, 207);
    position: relative;
    bottom: 0;
    width: 100%;
}
#siteInfo{
    padding-left:200px;
}


#col3{
    background-color: #222;
}
#col2{
   
    float:right;
}

#icons{
    padding-left:180px;
    margin-right:150px;
}
.nav-item{
    float:right;
}
h5{
    font-weight: bold;
    color:rgba(60, 60, 60, 0.607);
}
#nameRight{
    float:right;
}
p{
    margin-right: 50px;
}
.container{
    width: 100% !important;
    
    max-width: none;
    padding: 0;
    
}
