.movie-menu {
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
    font-size: 18px;
}

.movie-menu a{
    text-decoration: none;
}

.menu-items {
    padding: 0 20px;
}

.menu-items:hover {
    text-decoration: none;
}