.movTitle {
    font-size: 20px;
    color: #337ab7;
}

.movYear {
    font-size: 20px;
    color: #FFF;
}

.movSearch {
    padding: 20px;
    box-shadow: 0 2px 20px rgba(49, 54, 68, .09);
    background-color: #eceff1;
    margin: 30px 0;
    border-radius: 5px;
}

.btn-med {
    margin-left: 20px;
    z-index: 0;
}

.titleContainer {
    text-shadow: 1px 1px #000;
    background-color: #cfd8dc;
    padding: 5px 0;
    margin-top: 10px;
    border-radius: 5px;
}

.movSearch:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.next-page {
    margin: 20px 0 0 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px #000;
    padding: 10px 15px;
    color: #FFF;
}

.next-page:focus {
    background-color: transparent;
}

.previous-page:focus {
    background-color: transparent;
}

.previous-page {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px #000;
    padding: 10px 15px;
    color: #FFF;
}

.movie-title {
    color: #FFF;
    text-shadow: 1px 1px #000;
    background-color: #cfd8dc;
    padding: 5px 0;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.movie-title-blue {
    color: #337ab7;
}

.movie-poster-detailed {
    float: left;
    margin-right: 20px;
}

.movie-plot {
    text-align: center;
    background-color: #FFF;
    padding: 10px 15px;
    margin-right: 0;
    border-radius: 5px;
}

.movie-information {
    color: #222;
    padding: 10px 5px;
    background-color: #FFF;
    margin: 0;
}

.movie-information:nth-child(odd) {
    background-color: #eee;
}

.iframe-trailer {
    display: block;
    margin: 10px auto;
}